.navigation-tabs{
width:100%;
height:100%;
//background-color:lightblue;

.navigation-tab-group{
background-color:pink;
height:100%;
}


// these styles will not work because of view encapsulation. Use ::ng deep
::ng-deep .mat-tab-body-wrapper{
flex-grow:1;
height:100%;
background-color:blue !important;
}

.content1{
display:block;
background-color:yellow;
height:100%;
}

a{
text-decoration:none;
}
}